extends layout

block content
	section#about.flex.collapse-col
		div.flex.full
			h1 Hey, I'm Sarvesh!
			img(src='../images/headshot.png')
			#links.flex.f-row
				a(href='TODO'
						rel='noopener noreferrer',
						target='_blank')
					img(src='../images/resume.svg')
				a(href='https://www.linkedin.com/in/sarvesh-kalwit/'
						rel='noopener noreferrer',
						target='_blank')
					img(src='../images/linkedin.svg')
				a(href='https://github.com/sarveshkalwit'
						rel='noopener noreferrer',
						target='_blank')
					img(src='../images/github.svg')
				a(href='https://medium.com/@sarveshkalwit'
						rel='noopener noreferrer',
						target='_blank')
					img(src='../images/medium.svg')
				a(href='https://soundcloud.com/sarvesh_kalwit'
						rel='noopener noreferrer',
						target='_blank')
					img(src='../images/soundcloud.svg')
				a(href='#contact')
					img(src='../images/email.svg')
				a(href='TODO'
						rel='noopener noreferrer',
						target='_blank')
					img(src='../images/instagram.svg')
				
		div.flex.full
			p
				| I was born and raised in the Silicon Valley, and I'm currently
				| pursuing undergraduate degrees in computer science and math at 
				a(href='https://www.utexas.edu/',
					rel='noopener noreferrer',
					target='_blank') The University of Texas at Austin
				| . Alongside my classes, I'm an Incubator lead at 
				a(href='https://www.txconvergent.org/',
					rel='noopener noreferrer',
					target='_blank') Texas Convergent 
				| and the Technology Director at the 
				a(href='https://www.texasakpsi.com/',
					rel='noopener noreferrer',
					target='_blank') Iota chapter 
				| of Alpha Kappa Psi. After graduation, I hope to work at a disruptive
				| technology company.
			p
				| I'm largely interested in software engineering, technical product 
				| management, stock prediction, and venture capitalism.
				| My main technical skills include Python, fullstack JavaScript, and 
				| Java.
			p
				| In my free time, I enjoy lifting weights, working on side projects, 
				| reading, watching standup comedy, producing music, exploring new 
				| places, and hanging out with friends.
		
		// credits to Jakub Honisek: https://codepen.io/JakubHonisek/pen/qjpeeO?editors=1100
		div.scroll
			div.chevron
			div.chevron
			div.chevron

	section#projects.flex.collapse-col
		div.flex.full
			h2 Projects
			a(href='https://github.com/sarveshkalwit'
					rel='noopener noreferrer',
					target='_blank')
				img(src='../images/githublogo.svg')
			div.flex.statistics.f-row
				div
					p 
						span XX
					p public projects
				div
					p 
						span XX
					p commits in the last week
				div
					p
						span XX
					p all-time commits
		div.flex.full
			p
				| My favorite part about learning computer science and software 
				| engineering is that it teaches me how to think critically and 
				| solve problems efficiently.
			p
				| In general, I enjoy working on projects that will help me, or someone 
				| I can relate to. These have included a 
				a(href='https://github.com/sarveshkalwit/Rate-My-Lift',
					rel='noopener noreferrer',
					target='_blank') weightlifting form analyzer 
				| which ensures user safety when exercising, a 
				a(href='https://github.com/sarveshkalwit/Supreme-Bot',
					rel='noopener noreferrer',
					target='_blank') shopping bot 
				| to quickly purchase in-demand clothing items, and a 
				a(href='https://github.com/sarveshkalwit/AKPsi-Website',
					rel='noopener noreferrer',
					target='_blank') web app 
				| that provides numerous services to the members in my organization.
	
	section#trading.flex.collapse-col
		div.flex.full
			h2 Trading
			a(href='/TODO'
					rel='noopener noreferrer',
					target='_blank')
				img(src='../images/robinhood.png')
			div.flex.statistics.f-row
				.statistic
					p
						span XX
					p trades executed today
				.statistic
					p
						span XX
					p portfolio growth today
				.statistic
					p
						span XX
					p portfolio growth in the last year
		div.flex.full
			p
				| I thoroughly enjoy exploring the intersection between technology 
				| and business. While the allure of getting rich is definitely there, 
				| I was drawn to the stock market, more so by the implicit challenge 
				| of making some sense out of something seemingly nonsensical.
			p
				| I currently just hold onto some ETFs as a long term investment, 
				| but I'm working on a short term, volatility-based options trader.
				| The percentage returns of my 
				a(href='/TODO',
					rel='noopener noreferrer',
					target='_blank') Robinhood 
				| portfolio are shown.

	section#contact.flex
		div.flex
			h2 Contact
			form#inquiry.flex
				label Let's chat!
				input#inquiry-name(
					type='text',
					placeholder='name'
				)
				input#inquiry-email(
					type='email',
					placeholder='email@domain.com'
				)
				input#inquiry-subject(
					type='text',
					placeholder='*subject',
					required
				)
				textarea#inquiry-content(
					placeholder='*content',
					rows='5',
					cols='35',
					required
				)
	
	// potential music section
	
	// potential advice/about section
	
	// blog section?
	
	footer.flex.f-row.collapse-col
		div.full
			form#subscription.flex
				div.full
					label(for='email') Subscribe and stay updated!
				div.flex.f-row
					input#email.form-control(type='email',
						placeholder='email@domain.com')
					button.btn(type='submit') Submit

// https://freefrontend.com/css-arrows/
// https://codepen.io/JakubHonisek/pen/qjpeeO
